
:root {
    
    --color1: white;
    --color2: rgb(245, 219, 102);
    --color3: white;
    --color4: #ec54e5;
    --color5: white;
    --text-color: #32363F;
    --accent-light: purple;
    --accent-dark: #C27A18;
    
    --gutter: 20px;
}
body {
    /* style */
    font-family: 'Titillium Web', sans-serif;
    background-color: palevioletred;
    color: var(--text-color);

    /* layout */
    display: grid;
    grid-template-rows: 80px 2fr auto;
    
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--color4);
    box-shadow: 0px 10px 10px -12px rgba(0,0,0,0.45);
    padding: 0 var(--gutter);
}

main {
    flex-direction: inherit;
    overflow-y: auto;
}

img{
    width:200px;
    height:200px;
}

footer {
    background-color:purple;
    color: lightgrey;
    padding: 5px var(--gutter);
    align-self: stretch;
}
