
:root {
    --primary-background: #FFFFF4;
    --chrome-background: #e3b574;
    --chrome-background-opaque: #e3b574d1;
    --secondary-background: silver;
    --text-color: #32363F;
    --accent-light: purple;
    --accent-dark: #C27A18;
    
    --gutter: 30px;
}

body {
    /* style */
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--primary-background);
    color: var(--text-color);

    /* layout */
    display: grid;
    grid-template-rows: 80px 2fr auto;

}

header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--chrome-background);
    box-shadow: 0px 10px 10px -12px rgba(0,0,0,0.45);
    padding: 0 var(--gutter);
}

main {
    overflow-y: auto;
}

img{
    width:200px;
    height:200px;
}

footer {
    background-color:purple;
    color: lightgrey;
    padding: 5px var(--gutter);
    align-self: stretch;
}
